* {
    margin: 0px;
    padding: 0px;
    font-family: "Calibri";
    
}

header {
    width: 100%;
	display: block;
	height: 70px;
	background-color: rgb(0, 102, 255);
    font-size: 50px;
    color: white;
}

footer {
    width: 100%;
	display: block;
	height: auto;
	background-color: rgb(0, 102, 255);
    font-size: 50px;
    color: white;
    clear: both;
}

.footerSection {
    align-items: center;
    font-size: 20px;
}

.leftSection {
    background-color: rgb(226, 226, 226);
    width: 20%;
    height: auto;
    margin-top: 5%;
    border-radius: 0px 15px 15px 0px;
    float: left;
    margin-bottom: 5%;
}

.rightSection {
    background-color: rgb(226, 226, 226);
    width: 20%;
    height: auto;
    margin-top: 5%;
    border-radius: 15px 0px 0px 15px;
    float: right;
    margin-bottom: 5%;
}

.topicLi :hover {
    color: blue !important;
}

.secondaryLi {
    padding-left: 15px;
}

.centralSection {
    margin-top: 5%;
    margin-left: 5%;
    background-color: rgb(226, 226, 226);
    width: 50%;
    float: left;
    border-radius: 15px;
    margin-bottom: 5%;
}

.centralUpperSection {
    margin: 3%;
    background-color: rgb(226, 226, 226);
    width: auto;
    padding: 2%;
    padding-top: 1%;
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    text-align: justify;
}

.centralLowerSection {
    margin: 3%;
    background-color: rgb(226, 226, 226);
    width: auto;
    padding: 2%;
    padding-top: 1%;
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    text-align: justify;
}

p {
    font-size: larger;
}

h1 {
    font-size: 50px;
    vertical-align: middle;
}

h2 {
    font-size: x-large;
    text-align: center;
}

.headerLogo {
    width: 60px;
    vertical-align: middle;
    padding-left: 10px;
    float: left;
    padding-top: 4px;
}

.footerLogo {
    width: 50px;
    padding-top: 5px;
}

a {
    text-decoration: none;
    color: black;
    font-size: larger;
}