* {
    margin: 0px;
    padding: 0px;
    font-family: "Calibri";
    
}

header {
    width: 100%;
	display: block;
	height: 80px;
	background-color: rgb(0, 102, 255);
    font-size: 50px;
    color: white;
}

footer {
    width: 100%;
	display: block;
	height: 80px;
	background-color: rgb(0, 102, 255);
    font-size: 50px;
    color: white;
    clear: both;
}

.leftSection {
    background-color: rgb(226, 226, 226);
    width: 20%;
    height: 50%;
    margin-top: 5%;
    border-radius: 0px 25px 25px 0px;
    float: left;
    margin-bottom: 5%;
}

.rightSection {
    background-color: rgb(226, 226, 226);
    width: 20%;
    height: 50%;
    margin-top: 5%;
    border-radius: 25px 0px 0px 25px;
    float: right;
    margin-bottom: 5%;
}

.centralSection {
    margin-top: 5%;
    margin-left: 5%;
    background-color: rgb(226, 226, 226);
    width: 50%;
    float: left;
    border-radius: 25px;
    margin-bottom: 5%;
}

.centralUpperSection {
    margin: 3%;
    background-color: rgb(226, 226, 226);
    width: auto;
    padding: 2%;
    border-radius: 25px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.centralLowerSection {
    margin: 3%;
    background-color: rgb(226, 226, 226);
    width: auto;
    padding: 2%;
    border-radius: 25px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

p {
    font-size: larger;
}

h2 {
    font-size: x-large;
    text-align: center;
}